*{
 margin: 0;
 padding: 0;
 }
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    height:100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;


}
.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height:60px;
    background: rgba(255, 255, 255, 0)

}
.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin-right: 225px;
}
.navbar ul li{
    margin: 0 1rem;
    padding: 0.5rem;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-size: 95%;
}
.navbar ul li a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: lime;
}
.logo{
    float: left;
    margin: 0 0.5rem;
    padding: 0.5rem;
}
.speed{
    font-family: "Times New Roman", Times, serif;
    background: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    height:100vh;
    overflow: hidden;
}
.range{
    font-family: "Times New Roman", Times, serif;
    background: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    height:100vh;
    overflow: hidden;
}
.acceleration{
    font-family: "Times New Roman", Times, serif;
    background: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    height:100vh;
    overflow: hidden;
}
section {
    width: 100%;
    height: 100vh;    
}
section h1 {
    font-size: 3rem;
}
section p {
    font-size: 1.5rem;
}
section#home {
    background: url('images/Electron\ title\ render.png') no-repeat center center/cover;
}
    section#stats {
    background: url("images/second.png") no-repeat center center/cover;
}
.contact-box h1{
   float: left; 
   font-size: 40px;
   border-bottom: 6px solid black;
   margin-bottom: 10px;
   padding: 13px 0;
}
.textbox{
    width: 120px;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 10px;
}
.btn{
    width: 80px;
    background: none;
    border: 2px solid black;
    color:black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px;
}